/* Corps de la page */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
    color: #FFD700; /* Jaune lumineux */
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Conteneur principal */
.container {
    text-align: center;
    width: 90%;
    max-width: 800px;
    padding: 20px;
}

/* Texte principal */
.primary-text {
    font-size: 40px;  /* Augmentation légère pour une meilleure visibilité */
    line-height: 1.6;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* --- Media Queries pour le responsive design --- */

/* Tablettes (moins de 768px) */
@media (max-width: 768px) {
    .primary-text {
        font-size: 30px;
    }

    .secondary-text {
        font-size: 24px;
    }
}

/* Mobiles (moins de 480px) */
@media (max-width: 480px) {
    .primary-text {
        font-size: 20px;
    }

    .secondary-text {
        font-size: 16px;
    }

    .secondary-text-wrapper {
        top: 10px;
        left: 10px;
    }
}
